/* Mise en page */

@font-face 
{
    font-family: 'Hind';
    src: url('fonts/Hind/Hind-Regular.woff') format('woff');
}

body
{
	font-family:Hind;
	/* RESET*/
	margin:0; 
	padding:0;
}

/* 
header
{
	background-image:url("images/Fond-Code.png");
	background-repeat:no-repeat;
	background-color:#2196F3; /* Bleu ciel*/
	
/*	text-align:center;
	text-shadow:0px 3px black;
	
	color:#cecece;

	padding:1%;
} 
*/

/* Conteneur */

.Flex
{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
/*	border:1px solid black; /* DEBUG */
}

/* Elements du conteneur */

#Presentation
{
	width:35%;
	
	background-color:#f8c906; /* Jaune Foncé */
/*	border:1px solid black; /* DEBUG */
}

#PER
{
	width:65%;
/*	background-color:green;	/* DEBUG */
/*	border:1px solid black; /* DEBUG */
}

/* Mise en forme Présentation START */

.MaPhoto img
{
	display:block;
	margin:auto;
	margin-top:20%;
	width:50%;
	height:50%;
/*	margin:0% 20%; */

}

.RoundedImage /* Arondissement d'image avec ombrage */
{
	overflow:hidden;
	-moz-border-radius:50%;        /* Paramètre de compatibilité : Mozilla */
	-webkit-border-radius:50%;     /* Paramètre de compatibilité : Chrome / Chromium */
	-o-border-radius:50%;          /* Paramètre de compatibilité : Opera */
	border-radius:50%;
	box-shadow:0px 0px 0px 4px #c5a01b;
}

#Presentation h3
{
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
    
	color:#f8c906;              /* Jaune Foncé */
	background-color:#404040;   /* Gris Foncé */
	
	padding-top:0%;
	padding-bottom:0%;
}

#Presentation p
{
	text-align:justify;
	margin:0 5px;
}

.Contact p, .Apropos p
{
	padding: 0 10%;
	font-size:16px;
	word-wrap: break-word;
/*	background-color:grey; /* DEBUG */
}

.Apropos
{
	position: relative;
	margin-bottom:60%;
}

.Loisirs
{
	padding-top:100%;
}

.Loisirs img
{
	width:12%;
	padding:1% 1%;
	padding-left:2%;
	margin-left:5%;
	margin-right:5%;
	opacity:0.8;
}

.Loisirs-Align
{
	padding-top:2%;
	padding-bottom:10%;
	display:block;
	text-align:center;
/*	background-color:grey; /* DEBUG */
}

.RoundedImage-L
{
	overflow:hidden;
    -moz-border-radius:50%;        /* Paramètre de compatibilité : Mozilla */
	-webkit-border-radius:50%;     /* Paramètre de compatibilité : Chrome / Chromium */
	-o-border-radius:50%;          /* Paramètre de compatibilité : Opera */
	border-radius:50%;
	box-shadow:0px 0px 0px 2px #404040;
}

a
{
	text-decoration:none;
	color:black;
}

/*Mise en forme Présentation END */

/* Mise en Forme Exp, Formation & Recommandations START */

.Deco hr
{
	color:#f8c906;      /* Jaune Foncé */
	margin-top:-1%;
	margin-bottom:11%;
	margin-left:5%;
	margin-right:85%;
    border: 1px solid #f8c906; /* Jaune Foncé */
}

svg
{
	color:#f8c906;      /* Jaune Foncé */
}

#PER h1
{
	font-size:52px;
	color:#4a4a4a;
	
	padding-left:5%;
	padding-bottom:0;
	margin-top:12%;
	margin-bottom:0;
}

#PER h2
{
	font-size:32px;
	color:#6b6b6b;
	
	padding-left:5%;
	padding-top:0;
	margin-top:0;
	margin-bottom:0%;
}

.NameColor
{
	color:#f8c906;              /* Jaune Foncé */
	text-transform:uppercase;
}

.IcoColor
{
	color:#f8c906;              /* Jaune Foncé */
}

#Formations h3, #Parcours h3, #Recommandations h3
{
	padding-left:5%;
	margin-bottom:1%;
	text-transform:uppercase;
	font-size:32px;
/*	text-shadow:1px 2px grey; */
}

#Formation [fa-graduation-cap]
{
	padding:5px 0;
}

#Formations hr, #Parcours hr, #Recommandations hr
{
	color:#f8c906; /* Jaune Foncé */
	margin-left:5%;
	margin-right:5%;
    border: 1px solid #f8c906; /* Jaune Foncé */
}

/*
#Formations img, #Parcours img
{
	width:30px;
	height:30px;
	opacity:0.8;
} 
*/

#Formations h4, #Parcours h4
{
	font-size:20px;
	text-transform:uppercase;
}

#Formations h5, #Parcours h5
{
	font-size:16px;
}

.Circle-1
{
	color:#f8c906;      /* Jaune Foncé */
	font-size:14px;
	padding-top:20px;
	padding-left:5%;
	float:left;
}

.Circle-2
{
	color:#f8c906;      /* Jaune Foncé */
	font-size:12px;
	padding-top:20px;
	padding-left:5%;
	float:left;
}

.Left /* Dates */
{
	width:170px;
	margin-left:20px;
	float:left;
	height:40px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:60px;
/*	background-color:grey; /* DEBUG */
}

.Right /* Details */
{
	padding:1px;
	margin-top:2px;
	margin-left:300px;
/*	background-color:green; /* DEBUG */
}

#Recommandations
{
/*	border:1px solid black; /* DEBUG */
/*	background-color:green; /* DEBUG */
}

#Recommandations p
{
	margin-top:-15%;
/*	border:1px solid black; /* DEBUG */
/*	background-color:grey;  /* DEBUG */
}

#Recommandations h4
{
	font-size:20px;
	text-transform:uppercase;
/*	padding-left:5%; */
/*	border:1px solid black; /* DEBUG */
}

.Left-R
{
	margin-top:0;
	margin-left:5%;
	float:left;
/*	border:1px solid black; /* DEBUG */

}

.Right-R
{
	margin-right:30%;
	float:right;
/*	border:1px solid black; /* DEBUG */
}

/* Mise en Forme Exp et Formation END */

/* Pied de page */
footer
{
	background-color:#2196F3;           /* Bleu ciel*/
	text-align:center;
	padding:20%;-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;   
}



@media screen and (min-width:1089px) and (orientation: landscape)
{
    .Deco hr
	{
		color:#f8c906;      /* Jaune Foncé */
		margin-top:-1%;
		margin-bottom:11%;
		margin-left:5%;
		margin-right:88%;   /* 1920px */
	}
    
	#Responsive-Presentation
	{
		display:none;
	}
	
	footer
	{
		display:none;
	}
}

@media screen and (max-width:1088px) and (orientation: landscape)
{
	/*Mise en forme Présentation START */
	.Loisirs
	{
		display:none;
	}
	/*Mise en forme Présentation END */
	
	/* Mise en Forme Exp, Formation & Recommandations START */
	
	.Deco hr
	{
		color:#f8c906;      /* Jaune Foncé */
		margin-top:-1%;
		margin-bottom:11%;
		margin-left:5%;
		margin-right:87%;
	}
	
	.Left /* Dates */
	{
		width:26%;
		margin-left:20px;
		float:left;
		height:20px;
		width:170px;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:60px;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Right /* Details */
	{
		padding:1px;
		margin-top:2px;
		margin-left:285px;
	/*	background-color:green; /* DEBUG */
	}
	
	.Right-R
	{
		margin-right:12%;
		float:right;
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en Forme Exp, Formation & Recommandations END */
	
	/* Mise en page Bas de page responsive START */
	#Responsive-Presentation
	{
		background-color:#f8c906; /* Jaune Foncé */
	}
	
	#Responsive-Presentation h3
	{
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	color:#f8c906;              /* Jaune Foncé */
    
	background-color:#404040;   /* Gris Foncé */
	
	padding-top:0%;
	padding-bottom:0%;
	}
	
	.Responsive-Loisirs-Align
	{
		padding-top:2%;
		padding-bottom:2%;
		display:block;
		text-align:center;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Responsive-Loisirs-Align img
	{
		width:12%;
		padding:1% 1%;
		padding-left:2%;
		margin-left:5%;
		margin-right:5%;
		opacity:0.8;
	}
	
	footer
	{
		display:none;
	}
	/* Mise en page Bas de page responsive END */
}

@media screen and (min-width:992px) and (max-width:1088px) and (orientation: landscape)
{
	/* Mise en page génerale START */
	
	body
	{
	/*	background-color:#2196F3; /* Bleu ciel*/
	}
	
	.Flex
	{
		display:flex;
		flex-direction:column;
		justify-content:center;
		flex-wrap:wrap;
	/*	border:1px solid black; /* DEBUG */
	}
	
	#Presentation
	{
		width:100%;
		background-color:#f8c906; /* Jaune Foncé */
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en page génerale END */
	
	/* Mise en Forme Exp, Formation & Recommandations START */
	
	#PER
	{
		width:100%;
	/*	background-color:green;	/* DEBUG */
	/*	border:1px solid black; /* DEBUG */
	}
	
	.Right-R
	{
		margin-right:10%;
		float:right;
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en Forme Exp, Formation & Recommandations END */
	
	footer
	{
		display:none;
	}
}

@media screen and (min-width:641px) and (max-width:991px) and (orientation: landscape) /* Tablette */ 
{
	/* Mise en page génerale START */
	
	body
	{
	/*	background-color:#2196F3; /* Bleu ciel*/
	}
	
	.Flex
	{
		display:flex;
		flex-direction:column;
		justify-content:center;
		flex-wrap:wrap;
	/*	border:1px solid black; /* DEBUG */
	}
	
	#Presentation
	{
		width:100%;
		background-color:#f8c906; /* Jaune Foncé */
	/*	border:1px solid black; /* DEBUG */
	}
	
	#PER
	{
		width:100%;
	/*	background-color:green;	/* DEBUG */
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en page génerale END */
	
	/*Mise en forme Présentation START */
	.Loisirs
	{
		display:none;
	}
	/*Mise en forme Présentation END */
	
	/* Mise en Forme Exp, Formation & Recommandations START */
	
	.Deco hr
	{
		color:#f8c906;      /* Jaune Foncé */
		margin-top:0;
		margin-bottom:11%;
		margin-left:5%;
		margin-right:91%;
    /*  border: 1px solid black; /* DEBUG */ 
	}
	
	#PER h1
	{
		font-size:32px;
		color:#4a4a4a;
	
		padding-left:5%;
		padding-bottom:0;
		margin-top:12%;
		margin-bottom:0;
	}

	#PER h2
	{
		font-size:16px;
		color:#6b6b6b;
	
		padding-left:5%;
		padding-top:0;
		margin-top:0;
		margin-bottom:0%;
	}
	
	#Formations h3, #Parcours h3, #Recommandations h3
	{
		padding-left:5%;
		margin-bottom:1%;
		text-transform:uppercase;
		font-size:20px;
	/*	text-shadow:1px 2px grey; */
	}
	
	#Formations h4, #Parcours h4
	{
		font-size:14px;
		text-transform:uppercase;
	}

	.Circle-1
	{
		color:#f8c906; /* Jaune Foncé */
		font-size:14px;
		padding-top:20px;
		padding-left:5%;
		float:left;
	}

	.Circle-2
	{
		color:#f8c906; /* Jaune Foncé */
		font-size:12px;
		padding-top:20px;
		padding-left:5%;
		float:left;
	}
	
	.Left /* Dates */
	{
		width:26%;
		margin-left:2%;
		float:left;
		padding-left:1%;
		padding-right:1%;
		padding-bottom:10%;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Left p
	{
		font-size:14px;
		word-wrap: break-word;
	}

	.Right /* Details */
	{
		padding-top:2%;
		margin-top:0;
		margin-left:42%;
		padding-bottom:0;
	/*	background-color:green; /* DEBUG */
	}
	
	.Left-R
	{
		margin-left:5%;
		float:left;
	/*	border:1px solid black; /* DEBUG */

	}
	.Right-R
	{
		margin-left:5%;
		float:left;
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en Forme Exp, Formation & Recommandations END */

	/* Mise en page Bas de page responsive START */
	#Responsive-Presentation
	{
		background-color:#f8c906; /* Jaune Foncé */
	}
	
	#Responsive-Presentation h3
	{
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	color:#f8c906; /* Jaune Foncé */
	
	background-color:#404040; /* Gris Foncé*/
	
	padding-top:0%;
	padding-bottom:0%;
	}
	
	.Responsive-Loisirs-Align
	{
		padding-top:2%;
		padding-bottom:2%;
		display:block;
		text-align:center;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Responsive-Loisirs-Align img
	{
		width:12%;
		padding:1% 1%;
		padding-left:2%;
		margin-left:5%;
		margin-right:5%;
		opacity:0.8;
	}
	
	footer
	{
		display:none;
	}
	/* Mise en page Bas de page responsive END */
}

@media screen and (min-width:641px) and (max-width:991px) and (orientation: portrait) /* Tablette */ 
{
		/* Mise en page génerale START */
	
	body
	{
	/*	background-color:#2196F3; /* Bleu ciel*/
	}
	
	.Flex
	{
		display:flex;
		flex-direction:column;
		justify-content:center;
		flex-wrap:wrap;
	/*	border:1px solid black; /* DEBUG */
	}
	
	#Presentation
	{
		width:100%;
		background-color:#f8c906; /* Jaune Foncé */
	/*	border:1px solid black; /* DEBUG */
	}
	
	#PER
	{
		width:100%;
	/*	background-color:green;	/* DEBUG */
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en page génerale END */
	
	/*Mise en forme Présentation START */
	.Loisirs
	{
		display:none;
	}
	/*Mise en forme Présentation END */
	
	/* Mise en Forme Exp, Formation & Recommandations START */
	
	.Deco hr
	{
		color:#f8c906; /* Jaune Foncé */
		margin-top:0;
		margin-bottom:11%;
		margin-left:5%;
		margin-right:90%;
	}
	
	#PER h1
	{
		font-size:32px;
		color:#4a4a4a;
	
		padding-left:5%;
		padding-bottom:0;
		margin-top:12%;
		margin-bottom:0;
	}

	#PER h2
	{
		font-size:16px;
		color:#6b6b6b;
	
		padding-left:5%;
		padding-top:0;
		margin-top:0;
		margin-bottom:0%;
	}
	
	#Formations h3, #Parcours h3, #Recommandations h3
	{
		padding-left:5%;
		margin-bottom:1%;
		text-transform:uppercase;
		font-size:20px;
	/*	text-shadow:1px 2px grey; */
	}
	
	#Formations h4, #Parcours h4
	{
		font-size:14px;
		text-transform:uppercase;
	}

	.Circle-1
	{
		color:#f8c906; /* Jaune Foncé */
		font-size:14px;
		padding-top:20px;
		padding-left:5%;
		float:left;
	}

	.Circle-2
	{
		color:#f8c906; /* Jaune Foncé */
		font-size:12px;
		padding-top:20px;
		padding-left:5%;
		float:left;
	}

	.Left /* Dates */
	{
		width:26%;
		margin-left:2%;
		float:left;
		padding-left:1%;
		padding-right:1%;
		padding-bottom:10%;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Left p
	{
		font-size:14px;
		word-wrap: break-word;
	}

	.Right /* Details */
	{
		padding-top:2%;
		margin-top:0;
		margin-left:42%;
		padding-bottom:0;
	/*	background-color:green; /* DEBUG */
	}
	
	.Left-R
	{
		margin-left:5%;
		float:left;
	/*	border:1px solid black; /* DEBUG */

	}
	.Right-R
	{
		margin-left:5%;
		float:left;
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en Forme Exp, Formation & Recommandations END */
	
	/* Mise en page Bas de page responsive START */
	#Responsive-Presentation
	{
		background-color:#f8c906; /* Jaune Foncé */
	}
	
	#Responsive-Presentation h3
	{
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	color:#f8c906; /* Jaune Foncé */
	
	background-color:#404040; /* Gris Foncé*/
	
	padding-top:0%;
	padding-bottom:0%;
	}
	
	.Responsive-Loisirs-Align
	{
		padding-top:2%;
		padding-bottom:2%;
		display:block;
		text-align:center;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Responsive-Loisirs-Align img
	{
		width:12%;
		padding:1% 1%;
		padding-left:2%;
		margin-left:5%;
		margin-right:5%;
		opacity:0.8;
	}
	
	footer
	{
		display:none;
	}
	/* Mise en page Bas de page responsive END */
}

@media screen and (min-width:321px) and (max-width:640px) and (orientation: portrait)
{
	/* Mise en page génerale START */
	
	body
	{
	/*	background-color:#2196F3; /* Bleu ciel*/
	}
	
	.Flex
	{
		display:flex;
		flex-direction:column;
		justify-content:center;
		flex-wrap:wrap;
	/*	border:1px solid black; /* DEBUG */
	}
	
	#Presentation
	{
		width:100%;
		background-color:#f8c906; /* Jaune Foncé */
	/*	border:1px solid black; /* DEBUG */
	}
	
	#PER
	{
		width:100%;
	/*	background-color:green;	/* DEBUG */
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en page génerale END */
	
	/*Mise en forme Présentation START */
	.Loisirs
	{
		display:none;
	}
	/*Mise en forme Présentation END */
	
	/* Mise en Forme Exp, Formation & Recommandations START */
	
	.Deco hr
	{
		color:#f8c906; /* Jaune Foncé */
		margin-top:0;
		margin-bottom:11%;
		margin-left:5%;
		margin-right:88%;
	}
	
	#PER h1
	{
		font-size:32px;
		color:#4a4a4a;
	
		padding-left:5%;
		padding-bottom:0;
		margin-top:12%;
		margin-bottom:0;
	}

	#PER h2
	{
		font-size:12px;
		color:#6b6b6b;
	
		padding-left:5%;
		padding-top:0;
		margin-top:0;
		margin-bottom:0%;
	}
	
	#Formations h3, #Parcours h3, #Recommandations h3
	{
		padding-left:5%;
		margin-bottom:1%;
		text-transform:uppercase;
		font-size:18px;
	/*	text-shadow:1px 2px grey; */
	}
	
	#Formations h4, #Parcours h4
	{
		font-size:16px;
		text-transform:uppercase;
	}
	
	#Formations h5, #Parcours h5
	{
		font-size:14px;
		text-transform:uppercase;
	}

	.Circle-1
	{
		color:#f8c906; /* Jaune Foncé */
		font-size:14px;
		padding-top:20px;
		padding-left:5%;
		float:left;
	}

	.Circle-2
	{
		color:#f8c906; /* Jaune Foncé */
		font-size:12px;
		padding-top:20px;
		padding-left:5%;
		float:left;
	}

	.Left /* Dates */
	{
		width:26%;
		margin-left:2%;
		float:left;
		padding-left:1%;
		padding-right:1%;
		padding-bottom:10%;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Left p
	{
		font-size:14px;
		word-wrap: break-word;
	}

	.Right /* Details */
	{
		padding-top:2%;
		margin-top:0;
		margin-left:42%;
		padding-bottom:0;
	/*	background-color:green; /* DEBUG */
	}
	
	.Left-R
	{
		margin-left:5%;
		float:left;
	/*	border:1px solid black; /* DEBUG */

	}
	.Right-R
	{
		margin-left:5%;
		float:left;
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en Forme Exp, Formation & Recommandations END */
	
	
	/* Mise en page Bas de page responsive START */
	#Responsive-Presentation
	{
		background-color:#f8c906; /* Jaune Foncé */
	}
	
	#Responsive-Presentation h3
	{
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	color:#f8c906; /* Jaune Foncé */
	
	background-color:#404040; /* Gris Foncé*/
	
	padding-top:0%;
	padding-bottom:0%;
	}
	
	.Responsive-Loisirs-Align
	{
		padding-top:2%;
		padding-bottom:2%;
		display:block;
		text-align:center;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Responsive-Loisirs-Align img
	{
		width:12%;
		padding:1% 1%;
		padding-left:2%;
		margin-left:5%;
		margin-right:5%;
		opacity:0.8;
	}
	
	footer
	{
		display:none;
	}
	/* Mise en page Bas de page responsive END */
}

@media screen and (min-width:321px) and (max-width:640px) and (orientation: landscape)
{
	/* Mise en page génerale START */
	
	body
	{
	/*	background-color:#2196F3; /* Bleu ciel*/
	}
	
	.Flex
	{
		display:flex;
		flex-direction:column;
		justify-content:center;
		flex-wrap:wrap;
	/*	border:1px solid black; /* DEBUG */
	}
	
	#Presentation
	{
		width:100%;
		background-color:#f8c906; /* Jaune Foncé */
	/*	border:1px solid black; /* DEBUG */
	}
	
	#PER
	{
		width:100%;
	/*	background-color:green;	/* DEBUG */
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en page génerale END */
	
	/*Mise en forme Présentation START */
	.Loisirs
	{
		display:none;
	}
	/*Mise en forme Présentation END */
	
	/* Mise en Forme Exp, Formation & Recommandations START */
	
	.Deco hr
	{
		color:#f8c906; /* Jaune Foncé */
		margin-top:0;
		margin-bottom:11%;
		margin-left:5%;
		margin-right:88%;
	}
	
	#PER h1
	{
		font-size:32px;
		color:#4a4a4a;
	
		padding-left:5%;
		padding-bottom:0;
		margin-top:12%;
		margin-bottom:0;
	}

	#PER h2
	{
		font-size:16px;
		color:#6b6b6b;
	
		padding-left:5%;
		padding-top:0;
		margin-top:0;
		margin-bottom:0%;
	}
	
	#Formations h3, #Parcours h3, #Recommandations h3
	{
		padding-left:5%;
		margin-bottom:1%;
		text-transform:uppercase;
		font-size:20px;
	/*	text-shadow:1px 2px grey; */
	}
	
	#Formations h4, #Parcours h4
	{
		font-size:14px;
		text-transform:uppercase;
	}

	.Circle-1
	{
		color:#f8c906; /* Jaune Foncé */
		font-size:14px;
		padding-top:20px;
		padding-left:5%;
		float:left;
	}

	.Circle-2
	{
		color:#f8c906; /* Jaune Foncé */
		font-size:12px;
		padding-top:20px;
		padding-left:5%;
		float:left;
	}

	.Left /* Dates */
	{
		width:26%;
		margin-left:2%;
		float:left;
		padding-left:1%;
		padding-right:1%;
		padding-bottom:10%;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Left p
	{
		font-size:14px;
		word-wrap: break-word;
	}

	.Right /* Details */
	{
		padding-top:2%;
		margin-top:0;
		margin-left:42%;
		padding-bottom:0;
	/*	background-color:green; /* DEBUG */
	}
	
	.Left-R
	{
		margin-left:5%;
		float:left;
	/*	border:1px solid black; /* DEBUG */

	}
	.Right-R
	{
		margin-left:5%;
		float:left;
	/*	border:1px solid black; /* DEBUG */
	}
	
	/* Mise en Forme Exp, Formation & Recommandations END */
	
	
	/* Mise en page Bas de page responsive START */
	#Responsive-Presentation
	{
		background-color:#f8c906; /* Jaune Foncé */
	}
	
	#Responsive-Presentation h3
	{
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	color:#f8c906; /* Jaune Foncé */
	
	background-color:#404040; /* Gris Foncé*/
	
	padding-top:0%;
	padding-bottom:0%;
	}
	
	.Responsive-Loisirs-Align
	{
		padding-top:2%;
		padding-bottom:2%;
		display:block;
		text-align:center;
	/*	background-color:grey; /* DEBUG */
	}
	
	.Responsive-Loisirs-Align img
	{
		width:12%;
		padding:1% 1%;
		padding-left:2%;
		margin-left:5%;
		margin-right:5%;
		opacity:0.8;
	}
	
	footer
	{
		display:none;
	}
	/* Mise en page Bas de page responsive END */
}

@media screen and (width:320px) and (orientation: portrait)
{
	.Deco hr
	{
		color:#f8c906; /* Jaune Foncé */
		margin-top:0;
		margin-bottom:11%;
		margin-left:5%;
		margin-right:84%;
	}
}

@media screen and (max-width:319px) and (orientation: portrait)
{
	#Responsive-Presentation
	{
		display:none;
	}
	
	footer img
	{
		width:50%;
		height:50%;
		opacity:0.8;
	}
	
	#Formation, section, .Flex
	{
	display:none;
	}
}

@media screen and (max-width:319px) and (orientation: landscape)
{
	
	#Responsive-Presentation
	{
		display:none;
	}
	
	footer img
	{
		width:50%;
		height:50%;
		opacity:0.8;
	}
	
	#Formation, section, .Flex
	{
	display:none;
	}
}