/* Mise en page */

@font-face 
{
    font-family: 'Hind';
    src: url('fonts/Hind/Hind-Regular.woff') format('woff');
}

body
{
    font-family:Hind;
/*  font-size: 16px; BASE EM */
	/* RESET*/
    margin:0; 
    padding:0;
}

/* Conteneur */

.Flex
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

/* Elements du conteneur */

#Presentation
{
    width:24em;
    background-color:#f8c906;   /* Jaune Foncé */
}

#PER
{
    width:49.2em;
}

/* Mise en forme Présentation START */

.MaPhoto img
{
    display:block;
    margin:auto;
    margin-top:3.05em;
    margin-bottom:2.8em;
    width:13.4em;
    height:13.4em;
}

.RoundedImage
{
    overflow:hidden;
    -moz-border-radius:50%;                 /* Paramètre de compatibilité : Mozilla */
    -webkit-border-radius:50%;              /* Paramètre de compatibilité : Chrome / Chromium */
    -o-border-radius:50%;                   /* Paramètre de compatibilité : Opera */
    border-radius:50%;
    box-shadow:0px 0px 0px 0.3em #c5a01b;
}

#Presentation h3
{
    font-size:1.875em;
    text-transform:uppercase;
    text-align:center;
      
    color:#f8c906;
    background-color:#404040;   /* Gris Foncé */
}

#Presentation p
{
    font-size:0.92em;
    text-align:justify;
    word-wrap: break-word;
    margin:0 0.3em;
}

.Contact p
{
    padding:0 2.87em;
}

.Apropos p
{
    padding:0 3em;
}

.Apropos
{
    position: relative;
    margin-bottom:1.250em;
}

.Loisirs
{
    padding-top:41.8em;
    padding-bottom:0.8em;
}

.Loisirs img
{
    width:3.4em;
    padding:1% 1%;
    padding-left:2%;
    margin-top:0.2em;
    margin-left:5%;
    margin-right:5%;
    opacity:0.8;
}

.RoundedImage-L
{
    overflow:hidden;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
    box-shadow:0px 0px 0px 0.1em #404040;
}

a
{
    text-decoration:none;
    color:black;
}

.Loisirs-Align
{
    display:block;
    text-align:center;
}
/*Mise en forme Présentation END */

/* Mise en Forme Exp, Formation & Recommandations START */

.Header
{
    position:relative;
    top:-1.65em;
}

#PER h1
{
    font-size:3.1em;
    color:#4a4a4a;
    
    padding-left:1.29em;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
}

#PER h2
{
    font-size:1.8em;
    color:#6b6b6b;  /* Gris */
    
    padding-left:2.25em;
    padding-top:0;
    margin-top:-0.4em;
    margin-bottom:0%;
}

.NameColor
{
    color:#f8c906;
    text-transform:uppercase;
}

.IcoColor
{
    color:#f8c906;
}

.Deco hr
{
    width: 4.75em;
    color:#f8c906;
    margin-top:-0.5em;
    margin-bottom:7.75em;            /* Décalage de l'en-tête */
    margin-left:4em;
    border: 0.05em solid #f8c906;
}

#Formations
{
    position:relative;
    top:-1.65em;
}

#Parcours
{
    position:relative;
    top:2.4em;
}

#Recommandations
{
    position:relative;
    top:6.2em;
}

#Formations h3, #Parcours h3, #Recommandations h3
{
    font-size:2em;
    text-transform:uppercase;
    
    padding-left:2.07em;
    margin-bottom:0.2em;
    margin-top:0;
}

.fas
{
    font-size: 1.3em;
}

.Space
{
    margin: 0 0.43em;
}

#Formations hr, #Parcours hr, #Recommandations hr
{
    color:#f8c906;
    
    margin:0 3.95em;
    margin-top:-0.05em;
    border: 1px solid #f8c906;
}

.Circle-1
{
    font-size:1.3em;
    color:#f8c906;
  
    padding-top:0.8em;
    padding-left:3.1em;
    float:left;
}

.Left-C1 /* Dates */
{
    font-size:1.2em;
    width:6em;
    height:0.5em;
    
    padding-right:1.250em;
    padding-bottom:3.750em;
    margin-left:0.95em;
    margin-top:-0.5em;
    float:left;
}

.Right-C1 /* Details */
{
    padding-top:0;
    margin-top:2.55em;
    margin-left:20.3em;
    margin-right:4em;
}

.Circle-2
{
    font-size:0.7em;
    color:#f8c906;
    
    padding-top:4.45em;
    padding-left:6em;
    float:left;
}

.Left-C2
{
    font-size:1.2em;
    width:6em;
    height:0.5em;

    padding-right:1.250em;
    padding-bottom:3.750em;
    margin-left:1em;
    margin-top:1.25em;
    float:left;
}

.Right-C2
{
    padding-top:0.063em;
    padding-top:0.8em;
    margin-left:20.35em;
    margin-right:4em;
}

#Formations h4, #Parcours h4
{
    font-size:1.6em;
    text-transform:uppercase;
}

#Formations h5, #Parcours h5
{
    font-size:1.14em;
}

#Formations p, #Parcours p
{
    font-size:1.05em;
}

.Left-R
{
    margin-top:0;
    margin-left:4em;
    float:left;
}

.Right-R
{
    margin-bottom:-2em;
    margin-left:11.85em;
    padding:0;
    float:left;
}

#Recommandations h4
{
    font-size:1.15em;
    text-transform:uppercase;
}

#Recommandations p
{
    font-size:1.15em;
    margin-top:-1.6em;
}

.Mail
{
    font-size:0.8em;
}

/* Mise en Forme Exp et Formation END */

/* Pied de page */

footer
{
    background-color:#f8c906;
    text-align:center;
    padding:20%; 
}

@media screen and (min-width:1190px) and (orientation: landscape)                           /* 74em - Grand Ecran FHD+  */
{
	#Responsive-Presentation
	{
		display:none;
	}
	
	footer
	{
		display:none;
	}
}

@media screen and (min-width:1102px) and (max-width:1189px) and (orientation: landscape)    /* 69em - Grand Ecran FHD+  */
{
    /* Elements du conteneur */

    #Presentation
    {
        width:24em;
        background-color:#f8c906;
    }
    
    #PER
    {
        width:43.8em;
    }
    
    /* Mise en Forme Exp, Formation & Recommandations START */
    
    #Formations h4, #Parcours h4
    {
        font-size:1.3em;
    }

    #Formations h3, #Parcours h3, #Recommandations h3
    {
        font-size:1.85em;
    }
    
    .Header
    {
        position:relative;
        top:-3.4em;
    }
    
    #Formations
    {
        position:relative;
        top:-3.30em;
    }
    
    #Parcours
    {
        position:relative;
        top:2.85em;
    }
    
    #Recommandations
    {
        position:relative;
        top:8.3em;
    }
    
    .Right-R
    {
        margin-bottom:-2em;
        margin-left:9.75em;
        padding:0;
        float:left;
    }

    /* Mise en Forme Exp, Formation & Recommandations END */
    
    /* Pied de page */
    
	#Responsive-Presentation
	{
		display:none;
	}
	
	footer
	{
		display:none;
	}
}

@media screen and (min-width:801px) and (max-width:1101px) and (orientation: landscape)     /* 50em - Tablette HD       */
{
    /* Elements du conteneur */

    .Flex
    {
        flex-direction:column;
    }
    
    #Presentation
    {
    	width:49em;
    }

    #PER
    {
    	width:49em;
    }
    
    /* Mise en forme Présentation START */
    
    .Loisirs
    {
        display:none;
    }
    
    /* Mise en forme Présentation END */
    
    /* Mise en Forme Exp et Formation START */
    
    .Deco hr
    {
        width: 4.75em;
        margin-top:-0.5em;
        margin-bottom:8.5em;
        margin-left:4em;
    }
    
    .Header
    {
        position:relative;
        top:2em;
    }
    
    #Formations
    {
        position:relative;
        top:1.2em;
    }
    
    #Parcours
    {
        position:relative;
        top:5em;
    }
    
    #Recommandations
    {
        position:relative;
        top:10.7em;
    }
    
    /* Mise en Forme Exp et Formation END */
    
    /* Mise en page Bas de page responsive START */
    
	#Responsive-Presentation
	{
        width:49em;
        
        position:relative;
        top:11em;
        
		background-color:#f8c906;
	}
	
	#Responsive-Presentation h3
	{
        font-size:1.875em;
        text-transform:uppercase;
        text-align:center;
        color:#f8c906;
    
        background-color:#404040;   /* Gris Foncé */
        
        margin-top:0em;
    }
    
    .Responsive-Loisirs-Align
	{
        display:block;
		text-align:center;
        
		padding-top:0em;
		padding-bottom:0em;
	}
    
    .Responsive-Loisirs-Align img
	{
		width:5em;
		padding:1% 1%;
		margin:0% 5%;
        
		opacity:0.8;
	}
	
    /* Mise en page Bas de page responsive END */
    
    /* Pied de page */
    
	footer
	{
		display:none;
	}
	

}

@media screen and (min-width:801px) and (max-width:1101px) and (orientation: portrait)      /* 50em - Tablette HD       */
{
    /* Elements du conteneur */

    .Flex
    {
        flex-direction:column;
    }
    
    #Presentation
    {
    	width:49em;
    }

    #PER
    {
    	width:49em;
    }
    
    /* Mise en forme Présentation START */
    
    .Loisirs
    {
        display:none;
    }
    
    /* Mise en forme Présentation END */
    
    /* Mise en Forme Exp et Formation START */
    
    .Deco hr
    {
        width: 4.75em;
        margin-top:-0.5em;
        margin-bottom:8.5em;
        margin-left:4em;
    }
    
    .Header
    {
        position:relative;
        top:2em;
    }
    
    #Formations
    {
        position:relative;
        top:1.2em;
    }
    
    #Parcours
    {
        position:relative;
        top:5em;
    }
    
    #Recommandations
    {
        position:relative;
        top:10.7em;
    }
    
    /* Mise en Forme Exp et Formation END */
    
    /* Mise en page Bas de page responsive START */
    
	#Responsive-Presentation
	{
        width:49em;
        
        position:relative;
        top:11em;
        
		background-color:#f8c906;
	}
	
	#Responsive-Presentation h3
	{
        font-size:1.875em;
        text-transform:uppercase;
        text-align:center;
        color:#f8c906;
    
        background-color:#404040;   /* Gris Foncé */
        
        margin-top:0em;
    }
    
    .Responsive-Loisirs-Align
	{
        display:block;
		text-align:center;
        
		padding-top:0em;
		padding-bottom:0em;
	}
    
    .Responsive-Loisirs-Align img
	{
		width:5em;
		padding:1% 1%;
		margin:0% 5%;
        
		opacity:0.8;
	}
	
    /* Mise en page Bas de page responsive END */
    
    /* Pied de page */
    
	footer
	{
		display:none;
	}
	

}

@media screen and (min-width:640px) and (max-width:800px) and (orientation: landscape)      /* 40em - Tablette      */
{
    /* Elements du conteneur */
    
    #Presentation
    {
    	width:40em;
    }

    #PER
    {
    	width:40em;
    }
    
    /* Mise en forme Présentation START */
    
    .Loisirs
    {
        display:none;
    }
    
    /* Mise en forme Présentation END */
    
    /* Mise en Forme Exp et Formation START */
    
    .Deco hr
    {
        width: 4.75em;
        margin-top:-0.5em;
        margin-bottom:8.5em;
        margin-left:4em;
    }
    
    .Header
    {
        position:relative;
        top:2em;
    }
    
    #Formations
    {
        position:relative;
        top:1.2em;
    }
    
    #Parcours
    {
        position:relative;
        top:5em;
    }
    
    #Recommandations
    {
        position:relative;
        top:10.7em;
    }
    
    .fas
    {
        font-size: 1.2em;
    }
    
    #Formations h3, #Parcours h3, #Recommandations h3
    {
        font-size:1.85em;
    }
    
    #Formations hr, #Parcours hr, #Recommandations hr
    {
        margin:0 3.25em;
    }
    
    #Formations h4, #Parcours h4
    {
        font-size:1.4em;
    }
    
    #Formations h5, #Parcours h5
    {
        font-size:1.2em;
    }
    
    #Formations p, #Parcours p
    {
        font-size:0.996em;
    }
    
    .Circle-1
    {
        font-size:1.3em;

        padding-left:2.55em; 
    }
    
    .Circle-2
    {
        font-size:0.7em;
        
        padding-left:5em; 
    }
    
    .Right-C1 /* Details */
    {
        margin-left:15em;
        margin-right:3.25em;
    }
    
    .Right-C2 /* Details */
    {
        margin-left:15em;
        margin-right:3.25em;
    }
    
    .Left-R
    {
        margin-left:3.3em;
    }
    
    .Right-R
    {
        margin-left:7.25em;
    }
    
    /* Mise en Forme Exp et Formation END */
    
    /* Mise en page Bas de page responsive START */
    
	#Responsive-Presentation
	{
        width:40em;
        
        position:relative;
        top:11em;
        
		background-color:#f8c906;
	}
	
	#Responsive-Presentation h3
	{
        font-size:1.875em;
        text-transform:uppercase;
        text-align:center;
        color:#f8c906;
    
        background-color:#404040;
        
        margin-top:0em;
    }
    
    .Responsive-Loisirs-Align
	{
        display:block;
		text-align:center;
        
		padding-top:0em;
		padding-bottom:0em;
	}
    
    .Responsive-Loisirs-Align img
	{
		width:5em;
		padding:1% 1%;
		margin:0% 5%;
        
		opacity:0.8;
	}
	
    /* Mise en page Bas de page responsive END */
    
    /* Pied de page */
    
	footer
	{
		display:none;
	}

}

@media screen and (min-width:640px) and (max-width:800px) and (orientation: portrait)       /* 40em - Tablette      */
{
    /* Elements du conteneur */
    
    #Presentation
    {
    	width:40em;
    }

    #PER
    {
    	width:40em;
    }
    
    /* Mise en forme Présentation START */
    
    .Loisirs
    {
        display:none;
    }
    
    /* Mise en forme Présentation END */
    
    /* Mise en Forme Exp et Formation START */
    
    .Deco hr
    {
        width: 4.75em;
        margin-top:-0.5em;
        margin-bottom:8.5em;
        margin-left:4em;
    }
    
    .Header
    {
        position:relative;
        top:2em;
    }
    
    #Formations
    {
        position:relative;
        top:1.2em;
    }
    
    #Parcours
    {
        position:relative;
        top:5em;
    }
    
    #Recommandations
    {
        position:relative;
        top:10.7em;
    }
    
    .fas
    {
        font-size: 1.2em;
    }
    
    #Formations h3, #Parcours h3, #Recommandations h3
    {
        font-size:1.85em;
    }
    
    #Formations hr, #Parcours hr, #Recommandations hr
    {
        margin:0 3.25em;
    }
    
    #Formations h4, #Parcours h4
    {
        font-size:1.4em;
    }
    
    #Formations h5, #Parcours h5
    {
        font-size:1.2em;
    }
    
    #Formations p, #Parcours p
    {
        font-size:0.996em;
    }
    
    .Circle-1
    {
        font-size:1.3em;

        padding-left:2.55em; 
    }
    
    .Circle-2
    {
        font-size:0.7em;
        
        padding-left:5em; 
    }
    
    .Right-C1 /* Details */
    {
        margin-left:15em;
        margin-right:3.25em;
    }
    
    .Right-C2 /* Details */
    {
        margin-left:15em;
        margin-right:3.25em;
    }
    
    .Left-R
    {
        margin-left:3.3em;
    }
    
    .Right-R
    {
        margin-left:7.25em;
    }
    
    /* Mise en Forme Exp et Formation END */
    
    /* Mise en page Bas de page responsive START */
    
	#Responsive-Presentation
	{
        width:40em;
        
        position:relative;
        top:11em;
        
		background-color:#f8c906;
	}
	
	#Responsive-Presentation h3
	{
        font-size:1.875em;
        text-transform:uppercase;
        text-align:center;
        color:#f8c906;
    
        background-color:#404040;
        
        margin-top:0em;
    }
    
    .Responsive-Loisirs-Align
	{
        display:block;
		text-align:center;
        
		padding-top:0em;
		padding-bottom:0em;
	}
    
    .Responsive-Loisirs-Align img
	{
		width:5em;
		padding:1% 1%;
		margin:0% 5%;
        
		opacity:0.8;
	}
	
    /* Mise en page Bas de page responsive END */
    
    /* Pied de page */
    
	footer
	{
		display:none;
	}

}

@media screen and (min-width:480px) and (max-width:639px) and (orientation: landscape)      /* 30em - Mobiles       */
{
    /* Elements du conteneur */
    
    #Presentation
    {
    	width:30em;
    }

    #PER
    {
    	width:30em;
    }
    
    /* Mise en forme Présentation START */
    
    .Loisirs
    {
        display:none;
    }
    
    /* Mise en forme Présentation END */
    
    /* Mise en Forme Exp et Formation START */
    
    #PER h1
    {
        font-size:3em;
        
        padding-left:1.29em;
    }
    
    #PER h2
    {
        font-size:1.7em;
        
        padding-left:2.25em;
    }
    
    .Deco hr
    {
        width: 4.3em;
        margin-bottom:8.5em;
        margin-left:4em;
    }
    
    .Header
    {
        position:relative;
        top:4em;
    }
    
    #Formations
    {
        position:relative;
        top:1.2em;
    }
    
    #Parcours
    {
        position:relative;
        top:5em;
    }
    
    #Recommandations
    {
        position:relative;
        top:10.7em;
    }
    
    .fas
    {
        font-size: 1.1em;
    }
    
    #Formations h3, #Parcours h3, #Recommandations h3
    {
        font-size:1.4em;
    }
    
    #Formations hr, #Parcours hr, #Recommandations hr
    {
        margin:0 2.70em;
    }
    
    #Formations h4, #Parcours h4
    {
        font-size:1.4em;
    }
    
    #Formations h5, #Parcours h5
    {
        font-size:1.2em;
    }
    
    #Formations p, #Parcours p
    {
        font-size:0.999em;
    }
    
    .Circle-1
    {
        font-size:1em;
        
        padding-left:2.75em;
    }
    
    .Circle-2
    {
        font-size:0.7em;
        
        padding-left:4.2em;
    }
    
    .Left-C1 /* Dates */
    {
        width:16em;
        height:0.5em;
    }
    
    .Left-C2 /* Dates */
    {
        width:15.95em;
        height:0.5em;
    }
    
    .Right-C1 /* Details */
    {
        margin-left:4.85em;
        margin-right:3.25em;
        padding-top:5em;
    }
    
    .Right-C2 /* Details */
    {
        margin-left:4.95em;
        margin-right:3.25em;
        padding-top:7em;
    }
    
    .Left-R
    {
        margin-top:0;
        margin-left:2.75em;
    }
    
    .Right-R
    {
        margin-bottom:-2em;
        margin-left:2.75em;
    }
    
    /* Mise en Forme Exp et Formation END */
    
    /* Mise en page Bas de page responsive START */
    
	#Responsive-Presentation
	{
        width:30em;
        
        position:relative;
        top:13em;
        
		background-color:#f8c906;
	}
	
	#Responsive-Presentation h3
	{
        font-size:1.875em;
        text-transform:uppercase;
        text-align:center;
        color:#f8c906;
    
        background-color:#404040;
        
        margin-top:0em;
    }
    
    .Responsive-Loisirs-Align
	{
        display:block;
		text-align:center;
        
		padding-top:0em;
		padding-bottom:0em;
	}
    
    .Responsive-Loisirs-Align img
	{
		width:5em;
		padding:1% 1%;
		margin:0% 5%;
        
		opacity:0.8;
	}
	
    /* Mise en page Bas de page responsive END */
    
    /* Pied de page */
    
	footer
	{
		display:none;
	}
	
}

@media screen and (min-width:480px) and (max-width:639px) and (orientation: portrait)       /* 30em - Mobiles       */
{
    /* Elements du conteneur */
    
    #Presentation
    {
    	width:30em;
    }

    #PER
    {
    	width:30em;
    }
    
    /* Mise en forme Présentation START */
    
    .Loisirs
    {
        display:none;
    }
    
    /* Mise en forme Présentation END */
    
    /* Mise en Forme Exp et Formation START */
    
    #PER h1
    {
        font-size:3em;
        
        padding-left:1.29em;
    }
    
    #PER h2
    {
        font-size:1.7em;
        
        padding-left:2.25em;
    }
    
    .Deco hr
    {
        width: 4.3em;
        margin-bottom:8.5em;
        margin-left:4em;
    }
    
    .Header
    {
        position:relative;
        top:4em;
    }
    
    #Formations
    {
        position:relative;
        top:1.2em;
    }
    
    #Parcours
    {
        position:relative;
        top:5em;
    }
    
    #Recommandations
    {
        position:relative;
        top:10.7em;
    }
    
    .fas
    {
        font-size: 1.1em;
    }
    
    #Formations h3, #Parcours h3, #Recommandations h3
    {
        font-size:1.4em;
    }
    
    #Formations hr, #Parcours hr, #Recommandations hr
    {
        margin:0 2.70em;
    }
    
    #Formations h4, #Parcours h4
    {
        font-size:1.4em;
    }
    
    #Formations h5, #Parcours h5
    {
        font-size:1.2em;
    }
    
    #Formations p, #Parcours p
    {
        font-size:0.999em;
    }
    
    .Circle-1
    {
        font-size:1em;
        
        padding-left:2.75em;
    }
    
    .Circle-2
    {
        font-size:0.7em;
        
        padding-left:4.2em;
    }
    
    .Left-C1 /* Dates */
    {
        width:16em;
        height:0.5em;
    }
    
    .Left-C2 /* Dates */
    {
        width:15.95em;
        height:0.5em;
    }
    
    .Right-C1 /* Details */
    {
        margin-left:4.85em;
        margin-right:3.25em;
        padding-top:5em;
    }
    
    .Right-C2 /* Details */
    {
        margin-left:4.95em;
        margin-right:3.25em;
        padding-top:7em;
    }
    
    .Left-R
    {
        margin-top:0;
        margin-left:2.75em;
    }
    
    .Right-R
    {
        margin-bottom:-2em;
        margin-left:2.75em;
    }
    
    /* Mise en Forme Exp et Formation END */
    
    /* Mise en page Bas de page responsive START */
    
	#Responsive-Presentation
	{
        width:30em;
        
        position:relative;
        top:13em;
        
		background-color:#f8c906;
	}
	
	#Responsive-Presentation h3
	{
        font-size:1.875em;
        text-transform:uppercase;
        text-align:center;
        color:#f8c906;
    
        background-color:#404040;
        
        margin-top:0em;
    }
    
    .Responsive-Loisirs-Align
	{
        display:block;
		text-align:center;
        
		padding-top:0em;
		padding-bottom:0em;
	}
    
    .Responsive-Loisirs-Align img
	{
		width:5em;
		padding:1% 1%;
		margin:0% 5%;
        
		opacity:0.8;
	}
	
    /* Mise en page Bas de page responsive END */
    
    /* Pied de page */
    
	footer
	{
		display:none;
	}
	
}

@media screen and (min-width:360px) and (max-width:479px) and (orientation: portrait)       /* 23em - Mobiles       */
{
    /* Elements du conteneur */
    
    #Presentation
    {
    	width:23em;
    }

    #PER
    {
    	width:23em;
    }
    
    /* Mise en forme Présentation START */
    
    .Loisirs
    {
        display:none;
    }
    
    /* Mise en forme Présentation END */
    
    /* Mise en Forme Exp et Formation START */
    
    #PER h1
    {
        font-size:2em;
        padding-left:1.29em;
    }
    
    #PER h2
    {
        font-size:1.1em;
        padding-left:2.25em;
    }
    
    .Deco hr
    {
        width: 2.7em;
        margin-top:-0.5em;
        margin-bottom:8.5em;
        margin-left:2.5em;
    }
    
    .Header
    {
        position:relative;
        top:4em;
    }
    
    #Formations
    {
        position:relative;
        top:1.2em;
    }
    
    #Parcours
    {
        position:relative;
        top:5em;
    }
    
    #Recommandations
    {
        position:relative;
        top:10.7em;
    }
    
    .fas
    {
        font-size: 1em;
    }
    
    #Formations h3, #Parcours h3, #Recommandations h3
    {
        font-size:1em;
    }
    
    #Formations hr, #Parcours hr, #Recommandations hr
    {
        margin:0 2em;
    }
    
    #Formations h4, #Parcours h4
    {
        font-size:1.029em;
    }
    
    #Formations h5, #Parcours h5
    {
        font-size:0.9em;
    }
    
    #Formations p, #Parcours p
    {
        font-size:0.739em;
    }
    
    .Circle-1
    {
        font-size:1em;
        
        padding-left:2.1em;
    }
    
    .Circle-2
    {
        font-size:0.7em;
        
        padding-left:3.2em;
    }
    
    .Left-C1 /* Dates */
    {
        width:11.3em;
        height:0.5em;
    }
    
    .Right-C1 /* Details */
    {
        margin-left:4.25em;
        margin-right:2em;
        padding-top:5em;
    }
    
    .Left-C2 /* Dates */
    {
        width:11.4em;
        height:0.5em;
    }
    
    .Right-C2 /* Details */
    {
        margin-left:4.1em;
        margin-right:2em;
        padding-top:7em;
    }
    
    .Left-R
    {
        margin-top:0;
        margin-left:2.1em;
    }
    
    .Right-R
    {
        margin-bottom:-2em;
        margin-left:2.1em;
    }
    
    /* Mise en Forme Exp et Formation END */
    
    /* Mise en page Bas de page responsive START */
    
	#Responsive-Presentation
	{
        width:23em;
        
        position:relative;
        top:13em;
        
		background-color:#f8c906;
	}
	
	#Responsive-Presentation h3
	{
        font-size:1.875em;
        text-transform:uppercase;
        text-align:center;
        color:#f8c906;
    
        background-color:#404040;
        
        margin-top:0em;
    }
    
    .Responsive-Loisirs-Align
	{
        display:block;
		text-align:center;
        
		padding-top:0em;
		padding-bottom:0em;
	}
    
    .Responsive-Loisirs-Align img
	{
		width:4.2em;
		padding:1% 1%;
		margin:0% 5%;
        
		opacity:0.8;
	}
	
    /* Mise en page Bas de page responsive END */
    
    /* Pied de page */
    
	footer
	{
		display:none;
	}
}

@media screen and (min-width:320px) and (max-width:359px) and (orientation: portrait)       /* 20em - Mobiles       */
{
    /* Elements du conteneur */
    
    #Presentation
    {
    	width:20em;
    }

    #PER
    {
    	width:20em;
    }
    
    /* Mise en forme Présentation START */
    
    .Loisirs
    {
        display:none;
    }
    
    /* Mise en forme Présentation END */
    
    /* Mise en Forme Exp et Formation START */
    
    #PER h1
    {
        font-size:1.8em;
        padding-left:1.29em;
    }
    
    #PER h2
    {
        font-size:1em;
        padding-left:2.25em;
    }
    
    .Deco hr
    {
        width:2.6em;
        margin-top:-0.5em;
        margin-bottom:8.5em;
        margin-left:2.3em;
    }
    
    .Header
    {
        position:relative;
        top:4em;
    }
    
    #Formations
    {
        position:relative;
        top:1.2em;
    }
    
    #Parcours
    {
        position:relative;
        top:5em;
    }
    
    #Recommandations
    {
        position:relative;
        top:10.7em;
    }
    
    .fas
    {
        font-size:0.9em;
    }
    
    #Formations h3, #Parcours h3, #Recommandations h3
    {
        font-size:0.9em;
    }
    
    #Formations hr, #Parcours hr, #Recommandations hr
    {
        margin:0 1.7em;
    }
    
    #Formations h4, #Parcours h4
    {
        font-size:0.959em;
    }
    
    #Formations h5, #Parcours h5
    {
        font-size:0.859em;
    }
    
    #Formations p, #Parcours p
    {
        font-size:0.68em;
    }
    
    .Circle-1
    {
        font-size:1em;
      
        padding-left:1.8em; 
    }
    
    .Circle-2
    {
        font-size:0.7em;
        
        padding-left:2.85em;
    }
    
    .Left-C1
    {
        width:10.4em;
        height:0.5em;
    }
    
    .Left-C2
    {
        width:10.5em;
        height:0.5em;
    }
    
    .Right-C1
    {
        margin-left:3.95em;
        margin-right:2em;
        padding-top:5em;
    }

    .Right-C2
    {
        margin-left:3.85em;
        margin-right:2em;
        padding-top:7em;
    }
    
    .Left-R
    {
        margin-top:0;
        margin-left:1.8em;
    }

    .Right-R
    {
        margin-bottom:-2em;
        margin-left:1.8em;
    }
    
    /* Mise en Forme Exp et Formation END */
    
    /* Mise en page Bas de page responsive START */
    
	#Responsive-Presentation
	{
        width:20em;
        
        position:relative;
        top:13em;
        
		background-color:#f8c906;
	}
	
	#Responsive-Presentation h3
	{
        font-size:1.875em;
        text-transform:uppercase;
        text-align:center;
        
        color:#f8c906;
        background-color:#404040;
        
        margin-top:0em;
    }
    
    .Responsive-Loisirs-Align img
	{
		width:3.9em;
		padding:1% 1%;
		margin:0% 5%;
		opacity:0.8;
	}
	
    /* Mise en page Bas de page responsive END */
    
    /* Pied de page */
    
	footer
	{
		display:none;
	}

}

@media screen and (max-width:319px) /* Appareils Obsolètes */
{
    body
	{
        background-color:#f8c906;
	}
    
	#Responsive-Presentation
	{
		display:none;
	}
	
	footer img
	{
		width:50%;
		height:50%;
		opacity:0.8;
	}
	
	#Formation, section, .Flex
	{
        display:none;
	}
}