/* Mise en page */

@font-face {
 font-family: "Sansation";
 src: url("fonts/Sansation-Regular.woff") format("woff");
}

body
{
	font-family:Sansation,arial,Calibri;
	/* RESET*/
	margin:0; 
	padding:0;
}

header
{
	background-image:url("images/Fond-Code.png");
	background-repeat:no-repeat;
	background-color:#0084ff; /* Bleu ciel*/
	
	text-align:center;
	text-shadow:0px 3px black;
	
	color:white;

	padding:1%;
}

/* Conteneur */
.Flex
{
	display:flex;
/*	justify-content:center; */
	flex-wrap:wrap;
/*	border:1px solid black; /* DEBUG */
}

/* Elements du conteneur */
#Presentation
{
	width:30%;
	
	background-color:yellow;
/*	border:1px solid black; /* DEBUG */
}

#PE
{
	width:70%;
	background-color:green;	/* DEBUG */
/*	border:1px solid black; /* DEBUG */
}

/* Mise en forme Présentaiton START */

.MaPhoto img
{
	width:50%;
	weight:50%;
	margin:5% 25%;
	
}

#Presentation h3
{
	font-weight:bold;
	
	text-transform:uppercase;
	text-align:center;
	color:yellow;
	
	background-color:grey;
}

#Presentation p
{
	text-align:justify;
	margin:0 5px;
}

.Contact h4
{
	font-style:italic;
	margin:2% 0;
	
	padding-left: 5%;
	padding-right: 5%;
}

.Contact p, .Apropos p
{
	padding-left: 7%;
	padding-right: 7%;
}

.Loisirs img
{
	width:10%;
	weight:10%;
	
	padding:5% 7%;
	opacity:0.8;
}

/*Mise en forme Présentaiton END */

/* Mise en Forme Exp et Formation START */



/* Mise en Forme Exp et Formation END */

/* Pied de page */
footer
{
	background-color:red;
	text-align:center;
	padding:1%;
}