/* Mise en page */

@font-face {
 font-family: "Sansation";
 src: url("fonts/Sansation-Regular.woff") format("woff");
}

body
{
	font-family:Sansation,arial,Calibri;
	/* RESET*/
	margin:0; 
	padding:0;
}

header
{
	background-image:url("images/Fond-Code.png");
	background-repeat:no-repeat;
	background-color:#0084ff; /* Bleu ciel*/
	
	text-align:center;
	text-shadow:0px 3px black;
	
	color:#cecece;

	padding:1%;
}

/* Conteneur */
.Flex
{
	display:flex;
/*	justify-content:center; */
	flex-wrap:wrap;
/*	border:1px solid black; /* DEBUG */
}

/* Elements du conteneur */

#Presentation
{
	width:30%;
	
	background-color:yellow;
/*	border:1px solid black; /* DEBUG */
}

#PE
{
	width:70%;
/*	background-color:green;	/* DEBUG */
/*	border:1px solid black; /* DEBUG */
}

/* Mise en forme Présentation START */

.MaPhoto img
{
	width:50%;
	height:50%;
	margin:5% 25%;
	
}

#Presentation h3
{
	font-weight:bold;
	
	text-transform:uppercase;
	text-align:center;
	color:yellow;
	
	background-color:grey;
}

#Presentation p
{
	text-align:justify;
	margin:0 5px;
}

.Contact h4
{
	font-style:italic;
	margin:2% 0;
	
	padding-left: 5%;
	padding-right: 5%;
}

.Contact p, .Apropos p
{
	padding-left: 7%;
	padding-right: 7%;
	word-wrap: break-word;
}

.Loisirs img
{
	width:10%;
	height:10%;
	
	padding:5% 7%;
	opacity:0.8;
}

a
{
	text-decoration:none;
	color:black;
}

/*Mise en forme Présentation END */

/* Mise en Forme Exp et Formation START */

#Formations h3, #Parcours h3
{
	padding-left:2%;
	text-transform:uppercase;
	font-size:32px;
	font-weight:bold;
	text-shadow:1px 3px grey;
}

#Formations hr, #Parcours hr
{
	color:grey;
}

#Formations img, #Parcours img
{
	width:30px;
	height:30px;
	opacity:0.8;
}

.Left /* Dates */
{
	margin-left:20px;
	float:left;
	height:40px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:60px;
/*	background-color:grey; /* DEBUG */
}

.Right /* Details */
{
	padding:1px;
	margin-top:2px;
	margin-left:300px;
/*	background-color:green; /* DEBUG */
}

/* Mise en Forme Exp et Formation END */

/* Pied de page */
footer
{
	background-color:#0084ff; /* Bleu ciel*/
	text-align:center;
	padding:1%;
}

@media screen and (orientation: portrait)
{
	body
	{
		background-color:#0084ff; /* Bleu ciel*/
	}
	
	
	footer img
	{
		width:50%;
		height:50%;
	}

	
	#Formation, section, .Flex
	{
		display:none;
	}
}

@media screen and (min-width:805px)
{
	footer img, footer p
	{
		display:none;
	}
}

@media screen and (max-width:1168px) and (orientation: landscape)
{
	footer img,footer p
	{
		display:none;
	}
}