/* Mise en page */
body
{
	/* RESET*/
	margin:0; 
	padding:0;
}
header
{
	background-color:blue;
	
	text-align:center;
	text-shadow:1px 2px grey;
	
	color:white;
}

/* Conteneur */
.Flex
{
	display:flex;
/*	justify-content:center; */
	flex-wrap:wrap;
/*	border:1px solid black; /* DEBUG */
}

/* Elements du conteneur */
#Presentation
{
	width:30%;
	
	background-color:yellow;
/*	border:1px solid black; /* DEBUG */
}

#PE
{
	width:70%;
	background-color:green;	/* DEBUG */
/*	border:1px solid black; /* DEBUG */
}

/* Mise en forme Présentaiton START */

.MaPhoto p
{
	text-align:center;
}

#Presentation h3
{
	font-family:arial,calibri;
	font-weight:bold;
	
	text-transform:uppercase;
	text-align:center;
	color:yellow;
	
	background-color:grey;
}

#Presentation p
{
	text-align:justify;
	margin:0 5px;
}

.Contact p, .Apropos p
{
	padding-left: 5px;
	padding-right: 5px;
}

/*Mise en forme Présentaiton END */

/* Pied de page */
footer
{
	background-color:red;
	text-align:center;
}